[user]
    name = Don Nguyen
    email = don.nguyen@pathai.com
[alias]
    co = checkout
    ci = commit
    st = status
[core]
    autocrlf = input
    eol = lf
[pull]
	ff = only
[init]
	defaultBranch = main
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
